@font-face {
  font-family: "toutiao";
  /* Project id 3223520 */
  src: url('//at.alicdn.com/t/font_3223520_3h3je7n4j6t.woff2?t=1646469880059') format('woff2'), url('//at.alicdn.com/t/font_3223520_3h3je7n4j6t.woff?t=1646469880059') format('woff'), url('//at.alicdn.com/t/font_3223520_3h3je7n4j6t.ttf?t=1646469880059') format('truetype');
}
.toutiao {
  font-family: "toutiao" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.toutiao-lishi:before {
  content: "\e601";
}
.toutiao-guanbi:before {
  content: "\e602";
}
.toutiao-shanchu:before {
  content: "\e603";
}
.toutiao-pinglun:before {
  content: "\e604";
}
.toutiao-gengduo:before {
  content: "\e605";
}
.toutiao-sousuo:before {
  content: "\e606";
}
.toutiao-dianzan2:before {
  content: "\e607";
}
.toutiao-wode:before {
  content: "\e608";
}
.toutiao-yanzhengma:before {
  content: "\e609";
}
.toutiao-wenda:before {
  content: "\e60a";
}
.toutiao-shouji:before {
  content: "\e60b";
}
.toutiao-shouye:before {
  content: "\e60c";
}
.toutiao-zuopin:before {
  content: "\e60d";
}
.toutiao-wuwangluo:before {
  content: "\e60e";
}
.toutiao-yuedu:before {
  content: "\e60f";
}
.toutiao-shipin:before {
  content: "\e610";
}
.toutiao-zuojiantou:before {
  content: "\e611";
}
.toutiao-shoucang:before {
  content: "\e612";
}
.toutiao-youjiantou:before {
  content: "\e613";
}
body {
  background-color: #f5f7f9;
}
.login-container .page-nav-bar,
.home-container .page-nav-bar,
.article-container .page-nav-bar,
.user-profile .page-nav-bar {
  background-color: #3296fa;
}
.login-container .page-nav-bar .van-nav-bar__title,
.home-container .page-nav-bar .van-nav-bar__title,
.article-container .page-nav-bar .van-nav-bar__title,
.user-profile .page-nav-bar .van-nav-bar__title,
.login-container .page-nav-bar .van-icon,
.home-container .page-nav-bar .van-icon,
.article-container .page-nav-bar .van-icon,
.user-profile .page-nav-bar .van-icon {
  color: #fff;
  max-width: unset;
}
